/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #f9f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book:hover {
  cursor: pointer;
}

.book img {
  padding: 20px;
}

.book span {
  font-weight: bold;
}

.book .title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book div:nth-child(2) span {
  font-family: "Marck Script", serif;
  letter-spacing: 1px;
  color: #2f9c95;
}

.book div:nth-child(3) span {
  color: #171738;
  font-size: 0.8rem;
  text-decoration: underline;
  text-decoration-color: #2f9c95;
}
